<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Free Classified Ad for Houses in Pakistan</title>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="shortcut icon" href="/images/icons/icon-72x72.png">
    <!-- Add manifest -->
    <link rel="manifest" href="/manifest.json" />
    <!-- Tell the browser it's a PWA -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Tell iOS it's a PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Make sure theme-color is defined -->
    {{!--
    <meta name="theme-color" content="#536878"> --}}

</head>


<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">

                    </li>
                    {{#if user}}
                    <li role="presentation">
                        <a href="/">Dashboard</a>
                    </li>
                    <li role="presentation">
                        <a href="/users/logout">Logout</a>
                        {{!-- </li>
                    <li role="presentation">
                        <a href="/users/register">property</a>
                    </li> --}} {{else}}
                    <li role="presentation">
                        <a href="/users/login">Login</a>
                    </li>
                    <li role="presentation">
                        <a href="/users/register">register</a>
                    </li>
                    {{/if}}


                </ul>
            </nav>
            <div>
                <img src="/images/icons/icon-72x72.png" alt="olx.com.pk">
                <h4 class="font-weight-bold ">Pakistan's Largest Marketplace</h4> {{!--
                <a href="/images/icons/icon-72x72.png"></a> --}}
            </div>

        </div>
        {{!--
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <form method="GET" action="/users/search:ser">
                                <input type="text" class="form-control input-lg" name="ser" placeholder="House Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        <div class="row ">
            {{#if success_msg}}
            <div class="alert alert-success ">{{success_msg}}</div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-danger ">{{error_msg}}</div>
            {{/if}} {{#if error}}
            <div class="alert alert-danger ">{{error}}</div>
            {{/if}} {{{body}}} {{!--
            <div class="col-lg-12 ">

            </div> --}}
        </div>


        <footer class="footer ">
            <p class="text-muted" href="#">&copy; 2018 OLX </p>
        </footer>

    </div>

</body>

<script src="/serviceindex.js "></script>

</html>